:root {
  --bg: hsl(37, 87%, 79%);
  --primary: hsl(180, 18%, 60%);
  --highlight: #79a3b1;
  --danger: hsl(349, 65%, 80%);
  --navHeight: 8vh;
  --trTime: 200ms;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navHeight);
  font-size: 1.5em;
  background-color: hsl(238, 17%, 36%);
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  justify-items: center;
  row-gap: 0.4rem;
}
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  padding: 3rem 0;
  gap: 2rem;
}
.time {
  font-family: Tahoma, sans-serif;
  font-size: 18vw;
  color: hsl(0, 0%, 15%);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-size: 1em;
  transition: var(--trTime);
}
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: rgb(43, 43, 43) 2px 3px 7px;
  transition: color 100ms;
  cursor: pointer;
}
.control svg {
  width: 40px;
  height: auto;
}
.control:active {
  filter: brightness(75%);
}

.start {
  background-color: var(--primary);
  color: hsl(0, 0%, 95%);
  font-weight: 500;
}
.start:hover {
  box-shadow: hsl(238, 17%, 30%) 1px 2px 7px;
}

.lap {
  background-color: hsl(180, 37%, 85%, 0.3);
}
.danger {
  background-color: var(--danger);
}
.danger:hover {
  box-shadow: hsl(349, 65%, 75%) 1px 2px 7px;
}

.laps {
  padding-left: 2.3em;
  font-size: 1.3em;
  font-family: "PT Mono";
  transition: 700ms;
}

.laps > li {
  margin: 0.5em 0;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5em;
  transition: var(--trTime);
}
.numpad > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  font-family: "PT mono";
  border-radius: 25px;
  border: 2px solid;
  cursor: pointer;
}
.numpad .num {
  padding: 0.6rem 0.6rem;
  background-color: #d2e4cc;
}

.numpad .start {
  border: black solid 2px;
}

@media (min-width: 768px) {
  .timer {
    display: grid;
    align-items: flex-start;
    column-gap: 5rem;
    grid-template-columns: 1.5fr 1fr;
  }
  .time {
    font-size: 11vw;
  }
  .timer .controls {
    align-self: center;
  }
  .laps-container {
    grid-column: 3 / 4;
  }
  .numpad .num:hover {
    filter: brightness(75%);
  }
  /* This ugly thing is  to force hover state with js*/
  .numpad .num.hover {
    filter: brightness(75%);
  }
}
