:root {
  --bg: hsl(37, 87%, 79%);
  --primary: hsl(238, 17%, 36%);
  --danger: hsl(349, 65%, 80%);
  --navHeight: 8vh;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navHeight);
  font-size: 1.5em;
  background-color: cadetblue;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
body {
  padding-top: calc(var(--navHeight) + 25px);
  background-color: var(--bg);
}
.container {
  display: grid;
  justify-items: center;
}
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  padding: 3rem 0;
  gap: 3rem;
}

.time {
  font-family: Tahoma, sans-serif;
  /* font-weight: 700; */
  font-size: 2.2em;
  color: hsl(0, 0%, 15%);
}

.controls {
  display: flex;
  justify-content: space-around;
  padding: 1.4rem 0;
}
.control {
  margin: 0 0.8rem;
  padding: 0.3em 0.3rem;
  font-size: inherit;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: rgb(43, 43, 43) 2px 3px 7px;
  transition: color 100ms;
  cursor: pointer;
  width: 24vw;
}
.control:active {
  filter: brightness(75%);
}

.start {
  background-color: var(--primary);
  color: hsl(0, 0%, 95%);
  font-weight: 500;
}
.start:hover {
  box-shadow: hsl(238, 17%, 30%) 1px 2px 7px;
}
.pause {
  background-color: #ddd;
}
.lap {
  background-color: hsl(180, 37%, 85%, 0.3);
}
.danger {
  background-color: var(--danger);
}
.danger:hover {
  box-shadow: hsl(349, 65%, 75%) 1px 2px 7px;
}

.laps {
  padding-left: 2.3em;
  font-size: 1.3em;
  font-family: "PT Mono";
}

.laps > li {
  margin: 0.5em 0;
}
.laps::-moz-list-number {
  background-color: red;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3em;
}
.numpad > button {
  font-size: 1.5em;
  font-family: "PT mono";
  padding: 0.06em 0.3em;
  border-radius: 10px;
  border: 2px solid;
}
.numpad .num {
  background-color: burlywood;
}

.numpad .num:hover {
  filter: brightness(120%);
}

.numpad .start {
  border: black solid 2px;
}
@media (min-width: 768px) {
  .stopwatch-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .clock-container {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .laps {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
}
