:root {
  --bg: hsl(37, 87%, 79%);
  --primary: hsl(238, 17%, 36%);
  --danger: hsl(349, 65%, 80%);
  --navHeight: 8vh;
  --trTime: 200ms;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navHeight);
  font-size: 1.5em;
  background-color: cadetblue;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
body {
  padding-top: calc(var(--navHeight) + 25px);
  background-color: var(--bg);
}
.hide {
  width: 0;
  height: 0;
  opacity: 0;
}
.container {
  display: grid;
  justify-items: center;
}
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  padding: 3rem 0;
  gap: 2rem;
}

.time {
  font-family: Tahoma, sans-serif;
  font-size: 18vw;
  color: hsl(0, 0%, 15%);
}

.controls {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-size: 1em;
  transition: var(--trTime);
}
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: rgb(43, 43, 43) 2px 3px 7px;
  transition: color 100ms;
  cursor: pointer;
}
.control svg {
  width: 40px;
  height: auto;
}
.control:active {
  filter: brightness(75%);
}

.start {
  background-color: var(--primary);
  color: hsl(0, 0%, 95%);
  font-weight: 500;
}
.start:hover {
  box-shadow: hsl(238, 17%, 30%) 1px 2px 7px;
}

.lap {
  background-color: hsl(180, 37%, 85%, 0.3);
}
.danger {
  background-color: var(--danger);
}
.danger:hover {
  box-shadow: hsl(349, 65%, 75%) 1px 2px 7px;
}

.laps {
  padding-left: 2.3em;
  font-size: 1.3em;
  font-family: "PT Mono";
  transition: 700ms;
}

.laps > li {
  margin: 0.5em 0;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5em;
  transition: var(--trTime);
}
.numpad > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  font-family: "PT mono";
  border-radius: 25px;
  border: 2px solid;
  cursor: pointer;
}
.numpad .num {
  padding: .6rem 0.6rem;
  background-color: aliceblue;
}

.num:active {
  background: gray;
  border-radius: 5px;
}

.numpad .start {
  border: black solid 2px;
}
@media (min-width: 768px) {
  .stopwatch-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .clock-container {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .laps {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .numpad .num:hover {
    filter: brightness(40%);
  }
}
