body {
  padding-top: calc(var(--navHeight) + 25px);
  background-color: var(--bg);
}

.pointer {
  cursor: pointer;
}
.only-desktop {
  display: none;
}
.desktop-shortcut {
  display: none;
}
.highlight {
  color: var(--highlight);
}
@media (pointer: fine) {
  .desktop-shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
